li {
  list-style: none;
}

.logo {
  width: 10%;
}

.logo-footer {
  width: 50% !important;
}

/* nav bar */
.custom-nav {
  display: flex;
  justify-content: center;
}

.custom-collapse {
  justify-content: center;
}

.signIn {
  display: flex;
  justify-content: flex-end;
}

.navbarColor {
  background: linear-gradient(
    132deg,
    rgba(53, 53, 103, 1) 0%,
    rgba(10, 10, 47, 1) 17%,
    rgba(9, 7, 37, 1) 36%,
    rgba(10, 2, 31, 1) 66%,
    rgba(107, 118, 210, 1) 78%,
    rgba(36, 46, 126, 1) 89%,
    rgba(92, 95, 121, 1) 100%
  );
}

/* Homepage */
.homepage-top-boxes div {
  background-color: #0c1a3d;
  border: 1px solid #0c1a3d;
  color: aliceblue;
}

.homepage-us-wwa {
  background-color: #0c1a3d;
  color: white;
}

.homepage-us-wwd {
  background-color: whitesmoke;
}

.homepage-us i {
  font-size: 40px;
}

.homepage- button,
.homepage-booking button,
.homepage-us button {
  border-radius: 0 !important;
}

.homepage-booking-form {
  background-color: whitesmoke;
}

.homepage-top {
  background: linear-gradient(
    132deg,
    rgba(53, 53, 103, 1) 0%,
    rgba(10, 10, 47, 1) 17%,
    rgba(9, 7, 37, 1) 36%,
    rgba(10, 2, 31, 1) 66%,
    rgba(107, 118, 210, 1) 78%,
    rgba(36, 46, 126, 1) 89%,
    rgba(92, 95, 121, 1) 100%
  );
}

/* footer */
.WrostDesignIHaveSeenInMyLife {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(
    90deg,
    rgba(8, 8, 33, 1) 20%,
    rgba(18, 18, 68, 1) 48%,
    rgba(8, 8, 33, 1) 80%
  );
}

.list-group-item {
  border: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.custom-dropdown{
  display: flex;
  justify-content: center;
}

.signOutLi{
  cursor: pointer;
}

@media screen and (max-width: 998px) {
  .App {
    text-align: center;
  }

  /* navbar */
  .signIn {
    display: flex;
    justify-content: center;
  }
  
  /* homepage */
  .homepage-top div,
  .homepage-booking div,
  .homepage-us div {
    justify-content: center;
  }

  .homepage-lns div {
    margin-bottom: 15px;
  }

  .homepage-lns-rc div {
    width: 90%;
    margin: auto;
  }

  .homepage-knb-p2 div {
    padding: 12px !important;
  }

  .homepage-video {
    width: 94% !important;
    margin-top: 10px !important;
  }

  /* footer */
  .logo-footer-div {
    justify-content: center;
  }
}
